
.page {
    position: relative;
    transition: all .8s ease;
    animation: slideInFromRight .8s ease forwards;
}

#about-page img {
    animation: slideIn 1.5s ease-in-out forwards;
}

.news {
    transform: translateY(250px);
    animation: slideUp .5s ease-in-out forwards .8s;
}

#contact-page {
    animation: justExpand 1.5s ease-in-out forwards;
}

#posts-page .card {
    animation: slideInFromLeft 1.5s ease forwards;
}

/* #region Single post animations */

.single-post {
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.single-post h1 {
    animation: 4s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.single-post h2 {
    animation: 5s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.single-post h3,
.single-post h4,
.single-post h5 {
    animation: 6s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

/* #endregion */


/* #region Animation functions */

@keyframes justExpand {
    0% {
        transform: scale(.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(1400px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-1400px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}


/* #endregion */