:root {
    --formei-blue: rgb(33, 81, 214);
    --formei-blue-dark: rgb(10, 34, 100);
    --formei-blue-dark-opac: rgba(10, 34, 100, 0.4);
}

/* #region default react*/
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/*#endregion*/


/* #region Footer and Header*/

#about-page img{width: 100%;}

.logo img {
    height: 7vh;
    border-radius: 50%;
    padding: .4em;
}

footer,
.navbar {
    background-color: var(--formei-blue);
    color: #fff;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 2vh 0;
    background-color: var(--formei-blue);
}

.footer p {
    margin: 0;
}

/*#endregion*/


.container {
    min-height: 75vh;
}

#contact-page a {
    text-decoration: none;
}

.map iframe {
    width: 100%;
    height: 50vh;
}

/* #region Card*/

.card {
    max-height: 60vh;
    background-color: transparent;
}

.card span {
    text-align: right;
}

.card-text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-image-header {
    position: relative;
    background-color: #000;
}

.card-title {
    position: absolute;
    bottom: 0;
    color: #fff;
}

.card img {
    z-index: 0;
    position: relative;
    opacity: 0.5;
    height: 20vh;
    object-fit: cover;
}

.card img:hover {
    opacity: 0.9;
}

/*#endregion*/


/* #region Carrousel style*/
.carousel-caption {
    background-color: var(--formei-blue-dark-opac);
    border-radius: 1rem;
    padding: 1em;
}

.carousel-item img {
    object-fit: cover;
    height: 65vh;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: var(--formei-blue-dark-opac);
    border-radius: 2rem;
}

/*#endregion*/


/* #region Single Post page */

.single-post img {
    object-fit: cover;
    height: 100%;
    transition: transform .2s;
    margin: 0 auto;
}

.single-post img:hover {
    transform: scale(1.1);
}

.single-post ul {
    margin-bottom: 3px;
}

/*#endregion*/


/* #region Responsive shit*/
@media screen and (max-width: 576px) {
    #email-parent {
        display: block !important;
    }

    .card {
        max-height: none;
    }

    .hideElement {
        max-height: 0;
        pointer-events: none;
    }

}

@media screen and (min-width: 576px) {
    .list-group {
        width: 20%;
    }
}

@media screen and (min-width: 1600px) {
    .card {
        max-height: none;
    }
}

/*#endregion*/


/* #region Scrollbar Layouts  */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0000008e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #ffffff49;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0000003b;
}

/*#endregion*/